@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 60vh;
    width: 100vw;
}
h1{
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#calculadora{
    height: 300px;
    width: 600px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;

}
#calculadora > p {
    text-align: center;
    margin: 10px;
    font-size: 40px;
}

#altura{
    margin: 30px 0px 10px 0px;
    font-size: 30px;
}
#peso{
    margin: 20px 0px;
    font-size: 30px;
}
input{
    font-size: 20px;
    border-radius: 5px;
    padding: 1px;
    border: 1px solid black;
}

#botao{
    width: 140px;
    margin-top: 30px;
    margin-left: 20px;
    height: 40px;
}

#res{
    font-size: 25px;
}
footer{
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: end;
}
#img {
    height: 40vh;
    width: 45vw;
}